.principal {
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


.card {
    min-width: 250px ;
    min-height: 346px;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 6px 2px rgba(164, 83, 189, 0.438);
    overflow: hidden;
    

}

.card h1 {
    margin-bottom: 0.5rem;
}

.card p {
    margin-bottom: 0.5rem;
}

.usuario{
    color: white;
    margin-bottom: 2rem;
  
} 

.icon{
    width: 100px;
    height: 100px;
    color: rgb(170, 170, 170);
    margin-bottom: 2rem;
}

.btn1{
    width: 100px;
    height: 40px;
    color: white;
    width: 80px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid white;
    font-size: 18px;
    margin-bottom: 1.2rem;
    background-color: blueviolet;
    margin-bottom: 3rem;
}

.btn1:hover{
    background-color: rgb(90, 32, 145);
    color:  black;
    
 }


 .btn{
    width: 73px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 18px;
    margin-bottom: 1.2rem;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
   background-color: rgb(90, 32, 145);
   color:  white;
   
}

.botoes{
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
}

.h1{
    color: black;
    margin-bottom: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.container {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 6px 2px rgba(164, 83, 189, 0.438);

}

.input{
    height: 40px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 15px 20px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.link{
    color: blueviolet;
    font-size: 14px  ;
    text-align: center;
}

.card{
    text-align: center;
}

.btn{
    width: 140px ;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 18px;

    margin-bottom: 1.2rem;
    background-color: blueviolet;
}

.btn:hover{
   background-color: rgb(90, 32, 145);
   color:  white;
   
}

.cardRod{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}